#main-page{
    border: 2px solid green;
    display: flex;
    /* flex-direction: ; */
    /* flex-wrap: ; */
    gap: 10px;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 500px;*/
    height: 500px;
}


#sideBar{
    border: 2px solid red;
    width: 20%;
}
#main{
    border: 2px solid red;
    width: 80%;
    height: 600px;
}
nav{
    border: 2px solid blue;
}
.list-sub{
    border: 2px solid green;
}
#list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
}
#list-sub2{
    display: flex;
}
#btn-1{
    position: relative;
    /* display: block; */
/* position: fixed;
top:0px ;
left: 10px;
right: 20px; */
/* bottom: 0p; */
z-index: 2;
}

/* #btn-1:hover{
    background-color: blue;
    color: aliceblue; */
    /* scale: 2; */
    /* transition:1s ease-out 1s ; */
    /* transition-duration: 1s; */
    /* transition-delay: 1s; */
    /* transition-timing-function: ease-out; */

/* } */
#box-1{
     background-color: yellow;
    height: 100px;
    width: 100px;
    border: 2px solid;
    animation: animation1 3s ease-in 1s infinite ;
    /* display: inline-block; */
    position: relative;
    top: -21px;
    z-index: 3;
}
/* @keyframes animation1 { */
    /* from{
        height: 100px;
    }
    to{
        height: 200px;
    } */

    /* 0%{
        height: 100px;
        width: 100px;
    }
    50%{
        height: 200px;
        width: 100px;
    }
    100%{
        height: 200px;
        width: 200px;
    } */
/* } */

/* #text-1{
    display: inline;
} */